name: graphrag
channels:
  - conda-forge
  - nodefaults
dependencies:
  - asttokens=2.4.1=pyhd8ed1ab_0
  - brotli=1.1.0=h2466b09_2
  - brotli-bin=1.1.0=h2466b09_2
  - bzip2=1.0.8=h2466b09_7
  - ca-certificates=2025.4.26=h4c7d964_0
  - cairo=1.18.0=h32b962e_3
  - certifi=2025.4.26=pyhd8ed1ab_0
  - colorama=0.4.6=pyhd8ed1ab_0
  - comm=0.2.2=pyhd8ed1ab_0
  - contourpy=1.3.0=py312hd5eb7cc_2
  - cpython=3.12.7=py312hd8ed1ab_0
  - cycler=0.12.1=pyhd8ed1ab_0
  - debugpy=1.8.8=py312h275cf98_0
  - decorator=5.1.1=pyhd8ed1ab_0
  - double-conversion=3.3.0=h63175ca_0
  - exceptiongroup=1.2.2=pyhd8ed1ab_0
  - executing=2.1.0=pyhd8ed1ab_0
  - font-ttf-dejavu-sans-mono=2.37=hab24e00_0
  - font-ttf-inconsolata=3.000=h77eed37_0
  - font-ttf-source-code-pro=2.038=h77eed37_0
  - font-ttf-ubuntu=0.83=h77eed37_3
  - fontconfig=2.15.0=h765892d_1
  - fonts-conda-ecosystem=1=0
  - fonts-conda-forge=1=0
  - fonttools=4.54.1=py312h31fea79_1
  - freetype=2.12.1=hdaf720e_2
  - fribidi=1.0.10=h8d14728_0
  - getopt-win32=0.1=hcfcfb64_1
  - graphite2=1.3.13=h63175ca_1003
  - graphviz=12.0.0=hb01754f_0
  - gts=0.7.6=h6b5321d_4
  - harfbuzz=9.0.0=h2bedf89_1
  - icu=75.1=he0c23c2_0
  - importlib-metadata=8.5.0=pyha770c72_0
  - intel-openmp=2024.2.1=h57928b3_1083
  - ipykernel=6.29.5=pyh4bbf305_0
  - ipython=8.29.0=pyh7428d3b_0
  - jedi=0.19.2=pyhff2d567_0
  - joblib=1.4.2=pyhd8ed1ab_0
  - jupyter_client=8.6.3=pyhd8ed1ab_0
  - jupyter_core=5.7.2=pyh5737063_1
  - kiwisolver=1.4.7=py312hd5eb7cc_0
  - krb5=1.21.3=hdf4eb48_0
  - lcms2=2.16=h67d730c_0
  - lerc=4.0.0=h63175ca_0
  - libblas=3.9.0=25_win64_mkl
  - libbrotlicommon=1.1.0=h2466b09_2
  - libbrotlidec=1.1.0=h2466b09_2
  - libbrotlienc=1.1.0=h2466b09_2
  - libcblas=3.9.0=25_win64_mkl
  - libclang13=19.1.3=default_ha5278ca_0
  - libdeflate=1.22=h2466b09_0
  - libexpat=2.6.4=he0c23c2_0
  - libffi=3.4.2=h8ffe710_5
  - libgd=2.3.3=h085315d_10
  - libglib=2.82.2=h7025463_0
  - libhwloc=2.11.1=default_h8125262_1000
  - libiconv=1.17=hcfcfb64_2
  - libintl=0.22.5=h5728263_3
  - libjpeg-turbo=3.0.0=hcfcfb64_1
  - liblapack=3.9.0=25_win64_mkl
  - libpng=1.6.44=h3ca93ac_0
  - libsodium=1.0.20=hc70643c_0
  - libsqlite=3.47.0=h2466b09_1
  - libtiff=4.7.0=hfc51747_1
  - libwebp-base=1.4.0=hcfcfb64_0
  - libxcb=1.16=h013a479_1
  - libxml2=2.13.4=h442d1da_2
  - libxslt=1.1.39=h3df6e99_0
  - libzlib=1.3.1=h2466b09_2
  - m2w64-gcc-libgfortran=5.3.0=6
  - m2w64-gcc-libs=5.3.0=7
  - m2w64-gcc-libs-core=5.3.0=7
  - m2w64-gmp=6.1.0=2
  - m2w64-libwinpthread-git=5.0.0.4634.697f757=2
  - matplotlib=3.9.2=py312h2e8e312_2
  - matplotlib-base=3.9.2=py312h90004f6_2
  - matplotlib-inline=0.1.7=pyhd8ed1ab_0
  - mkl=2024.2.2=h66d3029_14
  - msys2-conda-epoch=20160418=1
  - munkres=1.1.4=pyh9f0ad1d_0
  - nest-asyncio=1.6.0=pyhd8ed1ab_0
  - openjpeg=2.5.2=h3d672ee_0
  - openssl=3.5.0=ha4e3fda_1
  - packaging=24.1=pyhd8ed1ab_0
  - pandas=2.2.3=py312h72972c8_1
  - pango=1.54.0=hbb871f6_2
  - parso=0.8.4=pyhd8ed1ab_0
  - patsy=0.5.6=pyhd8ed1ab_0
  - pcre2=10.44=h3d7b363_2
  - pickleshare=0.7.5=py_1003
  - pillow=10.4.0=py312h381445a_1
  - pip=24.3.1=pyh8b19718_0
  - pixman=0.43.4=h63175ca_0
  - platformdirs=4.3.6=pyhd8ed1ab_0
  - prompt-toolkit=3.0.48=pyha770c72_0
  - psutil=6.1.0=py312h4389bb4_0
  - pthread-stubs=0.4=hcd874cb_1001
  - pthreads-win32=2.9.1=h2466b09_4
  - pure_eval=0.2.3=pyhd8ed1ab_0
  - pygments=2.18.0=pyhd8ed1ab_0
  - pyparsing=3.2.0=pyhd8ed1ab_1
  - pyside6=6.8.0.2=py312h2ee7485_0
  - python=3.12.7=hce54a09_0_cpython
  - python-graphviz=0.20.3=pyh91182bf_2
  - python-tzdata=2024.2=pyhd8ed1ab_0
  - python_abi=3.12=5_cp312
  - pytz=2024.1=pyhd8ed1ab_0
  - pyzmq=26.2.0=py312hd7027bb_3
  - qhull=2020.2=hc790b64_5
  - qt6-main=6.8.0=hfb098fa_0
  - scikit-learn=1.5.2=py312h816cc57_1
  - seaborn=0.13.2=hd8ed1ab_2
  - seaborn-base=0.13.2=pyhd8ed1ab_2
  - setuptools=75.3.0=pyhd8ed1ab_0
  - six=1.16.0=pyh6c4a22f_0
  - stack_data=0.6.2=pyhd8ed1ab_0
  - statsmodels=0.14.4=py312h1a27103_0
  - tbb=2021.13.0=hc790b64_0
  - threadpoolctl=3.5.0=pyhc1e730c_0
  - tk=8.6.13=h5226925_1
  - tornado=6.4.1=py312h4389bb4_1
  - traitlets=5.14.3=pyhd8ed1ab_0
  - typing_extensions=4.12.2=pyha770c72_0
  - tzdata=2024b=hc8b5060_0
  - ucrt=10.0.22621.0=h57928b3_1
  - unicodedata2=15.1.0=py312h4389bb4_1
  - vc=14.3=h8a93ad2_22
  - vc14_runtime=14.40.33810=hcc2c482_22
  - vs2015_runtime=14.40.33810=h3bf8584_22
  - wcwidth=0.2.13=pyhd8ed1ab_0
  - wheel=0.44.0=pyhd8ed1ab_0
  - xorg-kbproto=1.0.7=hcd874cb_1002
  - xorg-libice=1.1.1=hcd874cb_0
  - xorg-libsm=1.2.4=hcd874cb_0
  - xorg-libx11=1.8.9=h0076a8d_1
  - xorg-libxau=1.0.11=hcd874cb_0
  - xorg-libxdmcp=1.1.3=hcd874cb_0
  - xorg-libxext=1.3.4=hcd874cb_2
  - xorg-libxpm=3.5.17=hcd874cb_0
  - xorg-libxt=1.3.0=hcd874cb_1
  - xorg-xextproto=7.3.0=hcd874cb_1003
  - xorg-xproto=7.0.31=hcd874cb_1007
  - xz=5.2.6=h8d14728_0
  - zeromq=4.3.5=ha9f60a1_6
  - zipp=3.21.0=pyhd8ed1ab_0
  - zlib=1.3.1=h2466b09_2
  - zstd=1.5.6=h0ea2cb4_0
  - pip:
      - absl-py==2.3.1
      - aclpubcheck==0.1
      - aiofiles==24.1.0
      - aiohappyeyeballs==2.4.3
      - aiohttp==3.10.10
      - aiolimiter==1.1.0
      - aiosignal==1.3.1
      - alabaster==1.0.0
      - annotated-types==0.7.0
      - anyascii==0.3.2
      - anyio==4.6.2.post1
      - anytree==2.12.1
      - appdirs==1.4.4
      - argparse==1.4.0
      - astunparse==1.6.3
      - attrs==24.2.0
      - autograd==1.7.0
      - azure-common==1.1.28
      - azure-core==1.32.0
      - azure-identity==1.19.0
      - azure-search-documents==11.5.2
      - azure-storage-blob==12.23.1
      - babel==2.17.0
      - backoff==2.2.1
      - beartype==0.18.5
      - beautifulsoup4==4.12.3
      - bert-score==0.3.13
      - bibtexparser==1.4.3
      - blis==0.7.11
      - cachetools==5.5.0
      - catalogue==2.0.10
      - cffi==1.17.1
      - chardet==5.2.0
      - charset-normalizer==3.4.0
      - click==8.1.7
      - cloudpathlib==0.16.0
      - confection==0.1.5
      - conllu==6.0.0
      - contractions==0.1.73
      - cryptography==43.0.3
      - curated-tokenizers==0.0.9
      - curated-transformers==0.1.1
      - cymem==2.0.11
      - dataclasses-json==0.6.7
      - datasets==3.2.0
      - datashaper==0.0.49
      - deprecation==2.1.0
      - devtools==0.12.2
      - dict2graph==3.2.1
      - dill==0.3.8
      - diskcache==5.6.3
      - distro==1.9.0
      - docutils==0.21.2
      - emoji==2.14.0
      - emot==3.1
      - en-core-sci-scibert==0.5.4
      - en-core-web-sm==3.7.1
      - en-core-web-trf==3.7.3
      - environs==11.0.0
      - eval-type-backport==0.2.0
      - faiss-cpu==1.9.0.post1
      - fastjsonschema==2.21.1
      - filelock==3.16.1
      - filetype==1.2.0
      - flashtext==2.7
      - flatbuffers==25.9.23
      - frozenlist==1.5.0
      - fsspec==2024.9.0
      - future==1.0.0
      - gast==0.6.0
      - gensim==4.3.3
      - google-ai-generativelanguage==0.6.10
      - google-api-core==2.23.0
      - google-api-python-client==2.152.0
      - google-auth==2.36.0
      - google-auth-httplib2==0.2.0
      - google-generativeai==0.8.3
      - google-pasta==0.2.0
      - googleapis-common-protos==1.66.0
      - graphdatascience==1.13
      - graphio==0.10.1
      - graphrag==0.4.0
      - graspologic==3.4.1
      - graspologic-native==1.2.1
      - greenlet==3.1.1
      - grpcio==1.68.0
      - grpcio-status==1.67.1
      - grpcio-tools==1.68.0
      - h11==0.14.0
      - h2==4.1.0
      - h5py==3.15.1
      - hpack==4.0.0
      - html5lib==1.1
      - httpcore==1.0.6
      - httplib2==0.22.0
      - httpx==0.27.2
      - httpx-sse==0.4.0
      - huggingface-hub==0.33.4
      - hyperframe==6.0.1
      - hyppo==0.4.0
      - idna==3.10
      - imagesize==1.4.1
      - interchange==2021.0.4
      - ipywidgets==8.1.5
      - isodate==0.7.2
      - jinja2==3.1.4
      - jiter==0.7.0
      - jq==1.8.0
      - json-repair==0.30.1
      - jsonpatch==1.33
      - jsonpath-python==1.0.6
      - jsonpointer==3.0.0
      - jsonschema==4.23.0
      - jsonschema-specifications==2024.10.1
      - jupyterlab-widgets==3.0.13
      - keras==3.12.0
      - krippendorff==0.8.1
      - lancedb==0.13.0
      - langchain==0.3.7
      - langchain-community==0.3.7
      - langchain-core==0.3.17
      - langchain-experimental==0.3.3
      - langchain-google-genai==2.0.4
      - langchain-huggingface==0.1.2
      - langchain-ollama==0.2.0
      - langchain-openai==0.2.8
      - langchain-qdrant==0.2.0
      - langchain-text-splitters==0.3.2
      - langcodes==3.5.0
      - langdetect==1.0.9
      - langsmith==0.1.142
      - language-data==1.3.0
      - latexcodec==3.0.0
      - libclang==18.1.1
      - libmagic==1.0
      - llvmlite==0.43.0
      - lxml==5.3.0
      - marisa-trie==1.2.1
      - markdown==3.9
      - markdown-it-py==3.0.0
      - markupsafe==3.0.2
      - marshmallow==3.23.1
      - mdurl==0.1.2
      - ml-dtypes==0.5.3
      - monotonic==1.6
      - mpmath==1.3.0
      - msal==1.31.0
      - msal-extensions==1.2.0
      - multidict==6.1.0
      - multimethod==1.12
      - multiprocess==0.70.16
      - murmurhash==1.0.12
      - mypy-extensions==1.0.0
      - namex==0.1.0
      - narwhals==1.41.0
      - nbformat==5.10.4
      - neo4j==5.26.0
      - networkx==3.4.2
      - nltk==3.9.1
      - nmslib-metabrainz==2.1.3
      - numba==0.60.0
      - numpy==1.26.4
      - olefile==0.47
      - ollama==0.4.1
      - openai==1.54.3
      - opt-einsum==3.4.0
      - optree==0.17.0
      - orjson==3.10.11
      - overrides==7.7.0
      - pansi==2024.11.0
      - pathlib-abc==0.1.1
      - pathy==0.11.0
      - pdfminer-six==20250327
      - pdfplumber==0.11.6
      - plotly==6.1.2
      - portalocker==2.10.1
      - pot==0.9.5
      - preshed==3.0.9
      - propcache==0.2.0
      - proto-plus==1.25.0
      - protobuf==5.28.3
      - py==1.11.0
      - py2neo==2021.2.4
      - pyahocorasick==2.1.0
      - pyalex==0.18
      - pyaml-env==1.2.1
      - pyarrow==15.0.2
      - pyasn1==0.6.1
      - pyasn1-modules==0.4.1
      - pybind11==2.13.6
      - pybtex==0.24.0
      - pycparser==2.22
      - pydantic==2.9.2
      - pydantic-core==2.23.4
      - pydantic-settings==2.6.1
      - pyjwt==2.9.0
      - pylance==0.17.0
      - pylatexenc==2.10
      - pynndescent==0.5.13
      - pypdf==5.1.0
      - pypdfium2==4.30.1
      - pysbd==0.3.4
      - python-dateutil==2.8.2
      - python-dotenv==1.0.1
      - python-iso639==2024.10.22
      - python-magic-bin==0.4.14
      - python-oxmsg==0.0.1
      - pywin32==308
      - pyyaml==6.0.2
      - qdrant-client==1.12.1
      - ragas==0.2.8
      - rapidfuzz==3.10.1
      - rebiber==1.1.3
      - referencing==0.35.1
      - regex==2024.11.6
      - requests==2.32.3
      - requests-toolbelt==1.0.0
      - retry==0.9.2
      - rich==13.9.4
      - rouge==1.0.1
      - rpds-py==0.21.0
      - rsa==4.9
      - sacrebleu==2.5.1
      - safetensors==0.4.5
      - scikit-posthocs==0.11.4
      - scipy==1.12.0
      - scispacy==0.5.5
      - sentence-transformers==3.3.0
      - shellingham==1.5.4
      - smart-open==6.4.0
      - sniffio==1.3.1
      - snowballstemmer==2.2.0
      - soupsieve==2.6
      - spacy==3.7.5
      - spacy-alignments==0.9.1
      - spacy-curated-transformers==0.2.2
      - spacy-legacy==3.0.12
      - spacy-loggers==1.0.5
      - spacy-transformers==1.3.9
      - sphinx==8.1.3
      - sphinxcontrib-applehelp==2.0.0
      - sphinxcontrib-devhelp==2.0.0
      - sphinxcontrib-htmlhelp==2.1.0
      - sphinxcontrib-jsmath==1.0.1
      - sphinxcontrib-qthelp==2.0.0
      - sphinxcontrib-serializinghtml==2.0.0
      - sqlalchemy==2.0.35
      - srsly==2.5.1
      - sympy==1.14.0
      - synergy-dataset==1.2
      - tabulate==0.9.0
      - tenacity==9.0.0
      - tensorboard==2.20.0
      - tensorboard-data-server==0.7.2
      - tensorflow==2.20.0
      - termcolor==3.1.0
      - text2graph==0.1.0
      - text2graphapi==0.2.0
      - textdistance==4.6.3
      - textsearch==0.0.24
      - thinc==8.2.5
      - tiktoken==0.7.0
      - tokenizers==0.21.2
      - torch==2.7.1
      - tqdm==4.67.0
      - transformers==4.53.2
      - tsv==1.2
      - typer==0.9.4
      - typing-inspect==0.9.0
      - umap-learn==0.5.7
      - unidecode==1.4.0
      - unstructured==0.16.5
      - unstructured-client==0.27.0
      - uritemplate==4.1.1
      - urllib3==2.2.3
      - wasabi==1.1.3
      - weasel==0.3.4
      - webencodings==0.5.1
      - werkzeug==3.1.3
      - widgetsnbextension==4.0.13
      - wrapt==1.16.0
      - xxhash==3.5.0
      - yarl==1.17.1
variables:
  GOOGLE_API_KEY: ''
  '': ''
  "'AIzaSyChXkPznd3_mbPHU1Gemy-m5cf7pwDFgV4'": ''
  "'GOOGLE'": ''
prefix: C:\Users\Yahdii\.conda\envs\graphrag
